{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido a la Página Principal</h1>
    <a href="{% url 'productos' %}" class="home_ver_productos">Ver los Productos</a>
    <!--  class es para despues edit en CSS | href para poner el name de la pág  | el <a></a> para crear un hipervinc.  -->
</body>
</html>