{% extends 'usuario/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/estilos-crear-cupon.css' %}">
{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1>Formulario de Stock</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3">Guardar</button>
    </form>

    <hr>

    <h2>Agregar Producto</h2>
    <a href="{% url 'producto_create' %}" class="btn btn-secondary">Agregar Producto</a>

    <hr>

    <h2>Agregar Proveedor</h2>
    <a href="{% url 'proveedor_create' %}" class="btn btn-secondary">Agregar Proveedor</a>
</div>

{% endblock %}