{% extends 'usuario/base.html' %}
{% load static %}

{% block content %}

<h1>home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero libero illum doloribus necessitatibus animi porro
    dolorum. Obcaecati tempora neque explicabo molestiae repellat laborum quisquam consequatur sed doloremque quis vitae
    harum placeat, deserunt a? Deserunt dicta doloremque iste sint cumque modi ab eius laborum, hic nobis numquam,
    doloribus amet itaque tenetur veniam enim sed quis nisi, dolore dolor possimus eaque. Aliquid in ab corrupti, quasi
    expedita vitae dolorem vero enim vel necessitatibus numquam unde dignissimos libero ullam placeat asperiores autem
    voluptates minus. Earum quaerat sed distinctio ut repellat vitae exercitationem blanditiis ducimus omnis, eos sunt
    quae voluptatem, quia qui, quasi dolore.</p>

{% endblock %}